{% load static %} {% comment %} Bloc {% endcomment %} {% load tailwind_tags %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock title %}</title>
    {% tailwind_css %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'first_project/index.css' %}"
    />
  </head>
  <body>
    {% block content %} {% endblock content %}
  </body>
</html>
