<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Produit || All</title>
  </head>
  <body>
    <div>
      {% for product in products %}
        <ul>
          <li>{{ product.libele }}</li>
          <li>{{ product.prix }}</li>
          <li>{{ product.description }}</li>
          <li>{{ product.stock }}</li>
          <li><img src="{{ product.image.url }}" alt="{{ product.libele }}" /></li>
        </ul>
        
      {% endfor %}
    </div>

  </body>
</html>
