{% load widget_tweaks %}
<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>From Produit</title>
  </head>
  <body>
    <form method="POST" action="" enctype="multipart/form-data">
      {% csrf_token %}
      <!--  -->
      {% comment %} {{ form.as_p}} {% endcomment %}
      <div>
        <label for="">{{form.libele.label_tag}}</label>
        {{form.libele}}
      </div>
      <div>
        <label for="">{{form.description.label_tag}}</label>
        {% render_field form.description class="new_class let_go"%}
      </div>
      <button type="submit">Ajouter</button>
    </form>
  </body>
</html>
